.hero {
  background-color: hsl(212, 45%, 89%);

  padding: 140px;
}

.container {
  background-color: rgb(255, 255, 255);
  padding: 30px 20px 50px 20px;
  width: 28%;
  margin-left: 350px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.img {
  margin-left: 13px;
  border-radius: 10px;
  height: 250px;
  width: 260px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.text-head {
  font-family: sans-serif;
  text-align: center;
}

.sub-text {
  font-family: sans-serif;
  text-align: center;
  color: #646262;
  font-weight: 550;
}
